

body{
    background-image: url(háttérkép5.jpg);
    background-attachment: fixed;
}

.kapcsolat{
    text-align: center;
    background-color: darksalmon;
}

.kapcsolat li{
    font-weight: bolder;
}